.signup-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (max-width: 960px) {
    gap: 16px;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
