<nav class="navigation">
  <div class="navigation__brand">
    <a routerLink="/" mat-button>
      <h1>Hufi</h1>
    </a>
  </div>
  <ul class="navigation__links">
    <li class="navigation__links__item">
      <a routerLink="signin" routerLinkActive="active" mat-button>
        <mat-icon>info</mat-icon>
        Đăng nhập
      </a>
    </li>
    <li class="navigation__links__item">
      <a routerLink="signup" routerLinkActive="active" mat-button>
        <mat-icon>info</mat-icon>
        Đăng ký
      </a>
    </li>
    <li class="navigation__links__item">
      <a routerLink="info" routerLinkActive="active" mat-button>
        <mat-icon>info</mat-icon>
        Thông tin ứng dụng
      </a>
    </li>
  </ul>
</nav>
